h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}
img{
    width: 20em;
}
img.voltar{
    width: 25px;
}
body{
    background-color: black;
    background-position-x: center;
    padding: 5x;
}